.container-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: aliceblue;
}